<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<tbody>
  <table>
    <tr>
    <% @matrix.each_with_index do |color, row, col| %>
      <% if col == @n_matrix - 1 %>
        <th class="element <%=row%> <%=col%>" onclick="select(this)" style="background:<%=color[0]%>;"></th>
      </tr>
      <tr>
      <% else %>
          <th class="element <%=row%> <%=col%>" onclick="select(this)" style="background:<%=color[0]%>;"></th>
      <%end%>
    <%end%>
  </table>
</tbody>
