<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<tbody>
  <table>
    <tr>
    <% @matrix.each_with_index do |color, row, col| %>
      <% if col == @n_matrix - 1 %>
        <th class="element" id= "<%=color[0]%>" onclick="select(<%=row%>, <%=col%>, this)"></th>
      </tr>
      <tr>
      <% else %>
        <th class="element" id= "<%=color[0]%>" onclick="select(<%=row%>, <%=col%>, this)"></th>
      <%end%>
    <%end%>
  </table>
</tbody>
